:root{
  --Primary-Marine-Blue: hsl(213, 96%, 18%);
  --Primary-Purplis-Blue: hsl(243, 100%, 62%);
  --Primary-Pastel-Blue: hsl(228, 100%, 84%);
  --Primary-Light-Blue: hsl(206, 94%, 87%);
  --Primary-Strawberry-Red: hsl(354, 84%, 57%);


  --Neutral-Cool-Gray: hsl(231, 11%, 63%);
  --Neutral-Light-Gray: hsl(229, 24%, 87%);
  --Neutral-Magnolia: hsl(217, 100%, 97%);
  --Neutral-Alabaster: hsl(231, 100%, 99%);
  --Neutral-White: hsl(0, 0%, 100%);
  
  --font-w-l:700;
  --font-w-m:500;
  --font-w-s:400;
}